@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body{
  background-color: #f4f7f8;
}

.navbar{
  margin: 2rem 0 2.5rem 0;
}

.my-navbar{
  align-items: center;
  background: #333;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom:3rem ;
}

.my-navbar-brand{
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item{
  color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover{
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4){
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly]{
  background-color: #fff;
}